In [1]:
import pandas as pd
import numpy as np

C:\Users\imjha\AppData\Local\Temp\ipykernel_11356\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("realEstate.csv")

In [3]:
columns = list(df.columns)
print(columns)

['status', 'bed', 'bath', 'acre_lot', 'city', 'state', 'zip_code', 'house_size', 'price']

In [4]:
print(df.head())

     status  bed  bath  acre_lot              city          state  zip_code  \
0  for_sale  1.0     1     20.20         Wilbraham  Massachusetts      1095
1      sold  1.0     2      0.28            Agawam  Massachusetts      1030
2  for_sale  4.0     2      0.16       Springfield  Massachusetts      1105
3  for_sale  5.0     1      0.13           Holyoke  Massachusetts      1040
4  for_sale  3.0     1      0.13  West Springfield  Massachusetts      1089

   house_size   price
0        1751  299000
1        1060  300000
2        1402  199900
3        1327  300000
4        1715  299000

In [5]:
print(df.describe())

               bed         bath      acre_lot      zip_code   house_size  \
count  8034.000000  8046.000000   8046.000000   8046.000000  8046.000000
mean      2.985935     1.499006     29.657785   4722.435123  1503.524981
std       1.424362     0.500030   1576.631171   3374.635053   292.290974
min       1.000000     1.000000      0.000000    601.000000   500.000000
25%       2.000000     1.000000      0.220000   2888.000000  1259.000000
50%       3.000000     1.000000      0.570000   6021.000000  1502.000000
75%       4.000000     2.000000      1.940000   6107.000000  1746.000000
max       5.000000     2.000000  99999.000000  95000.000000  3999.000000

              price
count  8.046000e+03
mean   4.836585e+05
std    1.002053e+06
min    1.400000e+04
25%    1.758000e+05
50%    2.900000e+05
75%    4.500000e+05
max    1.600000e+07

In [6]:
new_df = df
#new_df.isnull()
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())
#print(new_df.shape) 
#new_df.duplicated()

status         0
bed           12
bath           0
acre_lot       0
city           0
state          0
zip_code       0
house_size     0
price          0
dtype: int64
Missing values distribution:
status        0.000000
bed           0.001491
bath          0.000000
acre_lot      0.000000
city          0.000000
state         0.000000
zip_code      0.000000
house_size    0.000000
price         0.000000
dtype: float64

In [7]:
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

True
0       False
1       False
2       False
3       False
4       False
        ...
8041    False
8042    False
8043    False
8044    False
8045    False
Length: 8046, dtype: bool
(8046, 9)

In [8]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
status         object
bed           float64
bath            int64
acre_lot      float64
city           object
state          object
zip_code        int64
house_size      int64
price           int64
dtype: object

In [9]:
new_df["status"].replace({"for_sale":"0", "sold":"1"}, inplace = True) 
print(new_df.head())
print(new_df.shape)

  status  bed  bath  acre_lot              city          state  zip_code  \
0      0  1.0     1     20.20         Wilbraham  Massachusetts      1095
1      1  1.0     2      0.28            Agawam  Massachusetts      1030
2      0  4.0     2      0.16       Springfield  Massachusetts      1105
3      0  5.0     1      0.13           Holyoke  Massachusetts      1040
4      0  3.0     1      0.13  West Springfield  Massachusetts      1089

   house_size   price
0        1751  299000
1        1060  300000
2        1402  199900
3        1327  300000
4        1715  299000
(8046, 9)

C:\Users\imjha\AppData\Local\Temp\ipykernel_11356\2061100409.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["status"].replace({"for_sale":"0", "sold":"1"}, inplace = True)

In [10]:
print(new_df["state"].unique())

['Massachusetts' 'Puerto Rico' 'New York' 'Maine' 'Connecticut'
 'Rhode Island' 'Pennsylvania' 'New Hampshire']

In [11]:
new_df['state'].replace({'Massachusetts':'0','Puerto Rico':'1','New York':'2','Maine':' 3','Connecticut':'4','Rhode Island':'5','Pennsylvania':'6','New Hampshire':'7'}, inplace = True)
print(new_df.head())

  status  bed  bath  acre_lot              city state  zip_code  house_size  \
0      0  1.0     1     20.20         Wilbraham     0      1095        1751
1      1  1.0     2      0.28            Agawam     0      1030        1060
2      0  4.0     2      0.16       Springfield     0      1105        1402
3      0  5.0     1      0.13           Holyoke     0      1040        1327
4      0  3.0     1      0.13  West Springfield     0      1089        1715

    price
0  299000
1  300000
2  199900
3  300000
4  299000

C:\Users\imjha\AppData\Local\Temp\ipykernel_11356\371166098.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['state'].replace({'Massachusetts':'0','Puerto Rico':'1','New York':'2','Maine':' 3','Connecticut':'4','Rhode Island':'5','Pennsylvania':'6','New Hampshire':'7'}, inplace = True)

In [12]:
print(new_df.shape) 
print(new_df.head())

(8046, 9)
  status  bed  bath  acre_lot              city state  zip_code  house_size  \
0      0  1.0     1     20.20         Wilbraham     0      1095        1751
1      1  1.0     2      0.28            Agawam     0      1030        1060
2      0  4.0     2      0.16       Springfield     0      1105        1402
3      0  5.0     1      0.13           Holyoke     0      1040        1327
4      0  3.0     1      0.13  West Springfield     0      1089        1715

    price
0  299000
1  300000
2  199900
3  300000
4  299000

In [13]:
new_df.to_csv('realestate1.csv',header= True, index=False)