In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

df = pd.read_csv('realestate4.csv')
df.head()

C:\Users\imjha\AppData\Local\Temp\ipykernel_17996\1625018511.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   status  bed  bath  acre_lot  city  state  zip_code  house_size   price
0       0  1.0     1     20.20     1      0      1095        1751  299000
1       1  1.0     2      0.28     2      0      1030        1060  300000
2       0  4.0     2      0.16     3      0      1105        1402  199900
3       0  5.0     1      0.13     4      0      1040        1327  300000
4       0  3.0     1      0.13     5      0      1089        1715  299000

In [2]:
x= df[['bed','bath','acre_lot', 'city', 'state', ]]
y = df['status']

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [4]:
model = LogisticRegression(max_iter=5000) 
model.fit(X_train, y_train) 
y_pred = model.predict(X_test)

In [5]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(y_test, y_pred)
print(accuracy_score(y_test, model.predict(X_test)))

0.6416403785488959